.App {
  text-align: center;
  background-color: rgb(184, 129, 11);
  color: #cccccc;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

.App-title {
  font-size: 2rem;
}

.coin-table {
  margin: 50px auto 50px auto;
  font-size: 1.4rem;
  display: inline-block;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
